<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ATMDatabase" 
         connectionString="Server=DESKTOP-0Q9MU8N\\SQLEXPRESS;Database=ATM_UsersDB;Integrated Security=True;TrustServerCertificate=True;" 
         providerName="Microsoft.Data.SqlClient"/>
  </connectionStrings>
</configuration>